body {
    background-image: url("../img/mainMenuBg.png");
    background-attachment: fixed;
}
main {
    height: 200vh;
}

.sans {
    font-family: 'Roboto', sans-serif;
}
.serif {
    font-family: 'Roboto Slab', serif;
}

.mobile {
    display: none;
}

@media screen and (orientation: portrait), screen and (max-width: 1000px) {
    .mobile {
        display: initial;
    }

    .desktop {
        display: none;
    }
}