body {
    background-image: url("../img/mainMenuBg.png");
    background-attachment: fixed;
}
main {
    height: 200vh;
}

.sans {
    font-family: 'Roboto', sans-serif;
}
.serif {
    font-family: 'Roboto Slab', serif;
}
