header, #headerBuffer {
    height: 30vh;
    background-color: #060708;
    color: #EDE6E6;
}

header {
    position: fixed;
    width: 100vw;
    z-index: 10;
    text-align: center;
    box-shadow: 0 0 0 1px #EDE6E6;
}

#headerBuffer, header, header a, header nav.desktop {
    transition: all 1s; 
}

#logo {
    display: inline-block;
    height: 70%;
    transform: translateY(1.5vh);
}

#logo img {
    transition: all 1s;
    height: 100%;
}

header nav.desktop {
    width: 55vw;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto; 
}

nav.desktop > span {
    float: left;
    width: 8vw;
    font-size: 2vh;
    transition: all .5s;
    padding: .8vh 0.5vw;
    margin-left: 1.5vw;
    border: 1px solid #EDE6E6;
    position: relative;
}

nav.desktop > span::after {
    content: "";
    visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    z-index: -1;
    top: -1.5vh;
    right: -1.5vh;
    width: 4vh;
    height: 4vh;
    background-image: linear-gradient(to bottom,
                    #c0c0c0 0%, #c0c0c0 16%,
                    black 16%, black 22%,
                    #c0c0c0 22%, #c0c0c0 29%,
                    black 29%, black 42%,
                    #c0c0c0 42%, #c0c0c0 47%,
                    black 47%, black 49%,
                    #c0c0c0 49%, #c0c0c0 58%,
                    black 58%, black 64%,
                    #c0c0c0 64%, #c0c0c0 71%,
                    black 71%, black 74%,
                    #c0c0c0 74%, #c0c0c0 85%,
                    black 85%, black 87%,
                    #c0c0c0 87%, #c0c0c0 100%);
    transform: rotate(-40deg);
    border-radius: 50%;
}
nav.desktop > span:hover::after, nav.desktop > span.active::after {
    visibility: visible;
    transition: all 0.5s cubic-bezier(0, 1, 0.75, 1.25);
}

nav.desktop > span:not(.active)::after {
    transform: rotate(-40deg) scale(0);
}

nav.desktop > span:not(.active):hover::after {
    transform: rotate(-40deg) scale(1);
}

nav.desktop > span a {
    text-decoration: none;
    color: #EDE6E6; 
}

nav.desktop > span.active {
    background-color: #638ea3;
    border: 1px solid #638ea3;
}
nav.desktop > span.active a {
    color: #060708; 
}

nav.desktop > span:hover {
    background-color: #c26744;
    color: white;
    border: 1px solid #c26744;
}

nav.desktop > span.active, nav.desktop > span:hover {
    border-top-right-radius: 2vh;
}

#headerBuffer.small, header.small {
    height: 10vh;
}

header.small #logo {
    transform: translate(-30vw, 1.5vh);
}

header.small nav.desktop {
    transform: translate(11vw, -6.5vh); 
}

header nav.desktop > span {
    cursor: pointer; 
}

#hamburger {
    font-size: 3em;
    width: 0;
    margin: 0 auto;
    transform: translateX(-0.25em);
    transition: 1s all;
    cursor: pointer;
}

nav.mobile {
    display: none;
    position: fixed;
    z-index: 3;
    width: 100vw;
    text-align: center;
    background-color: #060708;
    color: #EDE6E6;
}
nav.mobile ul {
    padding: 0;
    margin: 0;
    list-style-type: none; 
}
nav.mobile ul li {
    padding: 1vh 0; 
}
nav.mobile ul li a {
    text-decoration: none;
    color: #EDE6E6; 
}
nav.mobile ul.links > li:hover {
    background-color: #c26744;
}

@media screen and (orientation: portrait), screen and (max-width: 1000px) {

    #hamburger {
        display: block; 
    }

    header #logo {
        width: 100%;
    }

    header.small #logo {
        transform: none;
        height: 100%;
    }
    header.small #hamburger {
        transform: translate(36vw, -10vh); 
    }
}
