main {
    min-height: calc(90vh - 3.85em);
}
#parallax {
    height: 65vh;
    position: relative;
}

.asteroid {
    position: absolute;
    z-index: -1;
}
.asteroid.small {
    height: 5%;
}
.asteroid.medium {
    height: 10%;
}
.asteroid.large {
    height: 15%;
}