---
layout: page
title: "Home"
---

<link rel="stylesheet" type="text/css" href="{{ site.base_url }}/css/index.css">
<script src="{{ site.base_url }}/js/index.js"></script>
<section id="slideshow">
	<span id="left" class="arrow noSelect">&lsaquo;</span>
	{% for image in site.static_files %}
		{% if image.path contains 'img/slideshow' %}
	<img src="{{ image.path | remove_first:'/' }}"/>
		{% endif %}
	{% endfor %}
	<span id="right" class="arrow noSelect">&rsaquo;</span>
</section>
<section id="blurb" class="translucent">
	<div>
		<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/F94wEMRPhxI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
	<div>
		<h1>Welcome to Destination Sol</h1>
		<p>
			Pilot your ship in the seamless open world made of space, planets, and more. Find new ships and equipment, find allies and beat all the enemies in this open source space shooter!
		</p>
		<p>
			Destination Sol is an open-source, free-to-play hardcore arcade/RPG. You start as a pilot of a small fighter ship on the edge of a star system, and you're free to explore the game world, land on planets, fight with enemies, upgrade your ship and equipment, hire mercenaries, mine asteroids, and more.
		</p>
	</div>
</section>