---
layout: page
title: "Home"
---

<link rel="stylesheet" type="text/css" href="css/index.css">
<script src="js/index.js"></script>
<main>
	<section id="slideshow">
		<span id="left" class="arrow noSelect">&lsaquo;</span>
		{% for image in site.static_files %}
			{% if image.path contains 'img/slideshow' %}
		<img src="{{ image.path | remove_first:'/' }}"/>
			{% endif %}
		{% endfor %}
		<span id="right" class="arrow noSelect">&rsaquo;</span>
	</section>
	<section>
		<h1 class="serif">Welcome to Destination Sol</h1>
		<p class="sans">
			Destination Sol is a space arcade shooter that we (the MovingBlocks open source organization) adopted in early 2015.

			This is a placeholder for a coming GitHub Page splash site, with the goal being a similar site as http://terasology.org hosted here The site repo for this page is here and we're happy to accept contributions to make the site more spiffy (but still super brief).
			
			For more visit the following sites:
			
				Source: https://github.com/MovingBlocks/DestinationSol
				Steam: http://store.steampowered.com/app/342980
				Android: https://play.google.com/store/apps/details?id=com.miloshpetrov.sol2.android&hl=en
			
		</p>
	</section>
</main>