<link rel="stylesheet" type="text/css" href="{{ site.base_url }}/css/footer.css">
<footer>
    <p id="social">
        <a href="https://store.steampowered.com/app/342980/Destination_Sol/"><i class="fab fa-steam"></i></a>
        <a href="https://www.facebook.com/Terasology"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/terasology"><i class="fab fa-twitter"></i></a>
        <a href="https://discord.gg/Terasology"><i class="fab fa-discord"></i></a>
        <a href="https://www.youtube.com/user/blockmaniaTV"><i class="fab fa-youtube"></i></a>
        <a href="https://reddit.com/r/Terasology"><i class="fab fa-reddit"></i></a>
        </p>
    <p id="copyright"><small>Copyright &copy; 2020 The Terasology Foundation</small></p>
</footer>
