<link rel="stylesheet" type="text/css" href="{{ site.base_url }}/css/footer.css">
<footer>
    <p id="social">
        <a href="https://www.facebook.com/Terasology"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/terasology"><i class="fab fa-twitter"></i></a>
        <a href="https://discord.gg/4uKbB8J"><i class="fab fa-discord"></i></a>
        <a href="https://www.youtube.com/user/blockmaniaTV"><i class="fab fa-youtube"></i></a>
        <a href="https://reddit.com/r/Terasology"><i class="fab fa-reddit"></i></a>
        <a href="https://plus.google.com/103835217961917018533"><i class="fab fa-google-plus"></i></a>
        <a href="http://webchat.freenode.net/?channels=terasology&uio=d4?channels=%23terasology&nick=Terasologist...&prompt=1&useUserListIcons=true"><i class="fas fa-comments"></i></a>
    </p>
    <p id="copyright"><small>Copyright &copy; 2018 The Terasology Foundation</small></p>
</footer>