<title>Destination Sol | {{ include.title }}</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ site.base_url }}/css/reset.css">
<link rel="stylesheet" type="text/css" href="{{ site.base_url }}/css/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(() => $("a[href^=http]").attr("target", "_blank"));
    function getJSONandLinkify(url, callback) {
        $.getJSON(url, (response) => {
            callback(response);
            $("a[href^=http]").attr("target", "_blank");
        });
    }
</script>