<link rel="stylesheet" type="text/css" href="css/nav.css">
<script src="js/nav.js"></script>
<header>
    <a id="logo" href="/" title="Home"><img src="img/mainMenuLogo.png"></a>
    <nav class="desktop sans">
        <span{% if include.active == 'Home' %} class='active'{% endif %}><a href="/">Home</a></span>
        <span{% if include.active == 'About Us' %} class='active'{% endif %}><a href="/about.html">About Us</a></span>
        <span{% if include.active == 'Terasology' %} class='active'{% endif %}><a href="/terasology.html">Terasology</a></span>
        <span{% if include.active == 'Download' %} class='active'{% endif %}><a href="/download.html">Download</a></span>
        <span{% if include.active == 'Contribute' %} class='active'{% endif %}><a href="/contribute.html">Contribute</a></span>
    </nav>
    <span class="mobile" id="hamburger">&#8801;</span>
</header>
<div id="headerBuffer"></div>
<nav class="mobile">
    <ul class="sans links">
        <li><a href="/">Home</a></li>
        <li><a href="/about.html">About Us</a></li>
        <li><a href="/terasology.html">Terasology</a></li>
        <li><a href="/download.html">Download</a></li>
        <li><a href="/contribute.html">Contribute</a></li>
    </ul>
</nav>