<link rel="stylesheet" type="text/css" href="css/nav.css">
<script src="js/nav.js"></script>
<header>
    <a id="logo" href="index.html" title="Home"><img src="img/mainMenuLogo.png"></a>
    <nav class="desktop sans">
        <span class="{% if include.active == 'Home' %}active{% endif %}"><a href="#">Home</a></span>
        <span class="{% if include.active == 'About Us' %}active{% endif %}"><a href="#">About Us</a></span>
        <span class="{% if include.active == 'Terasology' %}active{% endif %}"><a href="#">Terasology</a></span>
        <span class="{% if include.active == 'Contact' %}active{% endif %}"><a href="#">Contact</a></span>
        <span class="{% if include.active == 'Contribute' %}active{% endif %}"><a href="#">Contribute</a></span>
    </nav>
    <span class="mobile" id="hamburger">&#8801;</span>
</header>
<div id="headerBuffer"></div>
<nav class="mobile">
    <ul class="sans links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Terasology</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Contribute</a></li>
    </ul>
</nav>