<div style="text-align:center;">
    <a href="http://jenkins.terasology.org/job/DestinationSol/" target="_blank">
        <img src="http://jenkins.terasology.org/job/DestinationSol/badge/icon"/>
    </a>
    <a href="https://github.com/MovingBlocks/DestinationSol/releases" target="_blank">
        <img src="https://img.shields.io/github/release/MovingBlocks/DestinationSol.svg"/>
    </a>
    <a href="https://github.com/MovingBlocks/DestinationSol/releases" target="_blank">
        <img src="https://img.shields.io/github/downloads/MovingBlocks/DestinationSol/latest/total.svg"/>
    </a>
    <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">
        <img src="https://img.shields.io/badge/license-Apache%202.0-blue.svg"/>
    </a>
    <a href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank">
        <img src="https://img.shields.io/badge/soundtrack%20license-CC%20NC%204.0-blue.svg"/>
    </a>
    <a href="https://webchat.freenode.net/?channels=destination-sol" target="_blank">
        <img src="https://img.shields.io/badge/irc-%23destination--sol-blue.svg"/>
    </a>
</div>